*{
    margin: 0;
    padding: 0;
    
}
.head{
    height: 90vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner1.jpg); 
    background-position: center;
    background-size: cover;
    
}
.navbar{

}
.navbar-brand{
    font-weight: 700;
    font-size: 30px;
} 

.navbar-brand span{
    color:  rgb(184, 28, 28);
    font-weight: 700;
}
.navbar-nav a{
    font-weight: 700;
    font-size: 16px;
    padding-left: 26px !important;
}
.nav-link:hover{
    color:red !important;
}
.icon a{
    text-decoration: none;
    background: rgb(184, 28, 28);
    color: white;
    padding:10px 20px;
     margin-left: 40px;
     border-radius:5px;
}
.text-h3{
    font-weight: 700;
    font-size:50px
}
.text-head input{
    width:30%;
    padding:10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
}
.text-head button{
    width:10%;
    padding:10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(184, 28, 28);
    color: white;
}
/* <!-- section 2 --> */
.nav-1{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 10px;
  
}
 .nav-1:hover{
     background-color: rgb(185, 43, 0);
     color: white;
     border-radius: 5px;
 }
 .active{
    background-color: rgb(185, 43, 0);
    color: white;
    border-radius: 5px;
 }
 .item-nature img{
     height: 100%;
     width: 100%;
    
     border-radius: 10px;
 }
 .item-fashion img{
    
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.item-wedding img{
   
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
/* <!-- section 3 --> */
.gallery img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    
}
.gallery img:hover{
transform:scale(1.2);

}
footer{
    background:#2c2a2a;
    height:90vh;
    width: 100%;
    padding:50px 100px;
}
.footer-1{
    padding: 25px 10px;
    border: 2px solid rgb(197, 194, 194);
    color: white;
}

/* <!-- section 4 --> */
.contact input{
    width:50%;
    padding:10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
}
.contact button{
    width:30%;
    padding:10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(184, 28, 28);
    color: white;
}
.links{
    list-style: none;
}
.links li{
    padding-top:10px;
    margin-left: -30px;
}